body{
    background-color: #2D2D2D;;
}
li{
    float:left;
    padding: 22px;
    color: blue;
    list-style: none;
    font-size: 23px;
    width: 152px;
    height: 29px;
    margin-left: 110px;
}
@media only screen and (min-width: 375px) and (max-width: 767px) { 
    li{
        display: none;
    }
    .rectangle11{
        display:none;
    }
    .img{
        display:flex;
        justify-content: start;

    }
 }
 .gradient{
    display: flex;
    justify-content: end;
 }
 .img{
    float:left;
 }
 .text{
    position: absolute;
    width: 450.48px;
    height: 218.37px;
    left: 646px;
    top: 116px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 43px;
    color: #FFFFFF;
 }
