body{
    background-color: #2D2D2D;;
}
li{
    float:left;
    padding: 22px;
    color: blue;
    list-style: none;
    font-size: 23px;
    width: 152px;
    height: 29px;
    margin-left: 110px;
}
@media only screen and (min-width: 375px) and (max-width: 767px) { 
    li{
        display: none;
    }
 }
 .gradient{
    display: flex;
    justify-content: end;
 }
 .gradient2{
   
 }
